@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
	color: rgb(55, 55, 55);
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	margin: 0;
	padding: 0;
	background-color: #f4ebec;
}

header {
	padding: 20px 0;
	text-align: center;
}

section {
	padding: 40px 20px;
	max-width: 800px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	background: linear-gradient(90deg, #cfecd0, #ffc5ca);
}

p {
	font-size: 1.1em;
	line-height: 1.6;
}

#contact {
	background-color: #ffffff;
	padding: 40px 40px;
	max-width: 600px;
	margin: 40px auto;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

	#contact h1 {
		text-align: center;
		font-size: 30px;
		margin-bottom: 20px;
	}

	#contact p {
		text-align: center;
		margin-bottom: 30px;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	label {
		font-weight: bold;
	}

	input[type="text"],
	input[type="email"],
	textarea {
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 6px;
		font-size: 16px;
		width: 100%;
	}
	input[type="submit"] {
		background-color: #e3aecf;
		color: white;
		padding: 12px;
		border: none;
		border-radius: 6px;
		cursor: pointer;
		font-size: 18px;
		transition: background-color 0.3s ease;
	}

	input[type="submit"]:hover {
		background-color: #ee98d1;
	}
}
